//- ---------------------------------------------------------------------------
//- Pug: About
//- ---------------------------------------------------------------------------

article.section.bg-dark.bg-opacity-10#about
    
    div.min-vh-100.d-flex.align-items-center
        div
            div.row
                
                div.col-2
                div.col-8.text-center
                    div.display-3.mb-5 About
                div.col-2
                
            div.row
                
                div.col-2
                div.col-3
                    img.img-thumbnail(width=200, height=200)
                div.col-5
                    p Dedicated mental health technician with strong track record of reliability, positive attitude and excellent work quality. Delivered exceptional patient support in community-based treatment facility and contributed to many patients' status improvements. Superb communications skills and compassionate nature enabled positive outcomes in challenging environment.
                div.col-2
