//- ---------------------------------------------------------------------------
//- Pug: Contact
//- ---------------------------------------------------------------------------

article.section.pt-5#contact

        div.row.mt-5
            
            div.col-2
            div.col-8.text-center
                div.display-3.mb-5 Contact
            div.col-2
            
        div.row
            
            div.col-2
            div.col-4
                div.display-5.mb-1 Hire me
                hr
                p I'd love to hear from you. Feel free to contact me by any of the following methods.
                div
                    span.far.fa-envelope.me-3
                    a(href='#') trumbull.j@gmail.com
                div
                    span.far.fa-phone.me-3
                    a(href='#') (302) 509-1717
                div
                    span.far.fa-map-marker.me-3
                    a(href='#') West Chester, PA
            div.col-4
                div.card.shadow
                    div.card-body
                        form
                            div.mb-3
                                label.form-label Name
                                input.form-control(type='text', placeholder='John Smith')
                            div.mb-3
                                label.form-label Email address
                                input.form-control(type='text', placeholder='jsmith@acme.com')
                            div.mb-3
                                label.form-label Content
                                textarea.form-control(placeholder='Message here...')
                            button.btn.btn-primary Submit
            div.col-2
