//- ---------------------------------------------------------------------------
//- Pug: Hero
//- ---------------------------------------------------------------------------

article.section.shadow#hero
    
    div.min-vh-100.d-flex.justify-content-center.align-items-center
        
        div
            div.display-1.text-center Joseph Trumbull
            div.display-5.text-center Software Developer
