//- ---------------------------------------------------------------------------
//- Pug: Index
//- ---------------------------------------------------------------------------

doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='styles/index.min.css')
        title Joseph Trumbull
    body
        
        include header
        
        section#content
            include hero
            include about
            include skills
            include resume
            include contact
        
        include footer
        
        script(src='scripts/index.min.js')
