//- ---------------------------------------------------------------------------
//- Pug: Skills
//- ---------------------------------------------------------------------------

article.section.shadow-lg.pt-5#skills

    div.my-5.display-3.text-center Skills
    
    div.container
        
        div.row.mb-3
            div.col-12 Demonstrates core competency in the following
        
        div.row.mb-3
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-html5
                            div HTML
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-css3-alt
                            div CSS
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-js-square
                            div JavaScript
        
        div.row.mb-3
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-vuejs
                            div Vue.js
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-sass
                            div Sass
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-node-js
                            div Node.js
        
        div.row.mb-3
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-php
                            div PHP
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fat.fa-mysql
                            div MySQL
            div.col-4
                div.card(style='height: 250px;')
                    div.card-body.text-center
                        div.display-5
                            span.fab.fa-laravel
                            div Laravel
        
        hr
